@{
    ViewBag.Title = "Dimas Games";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="card p-8">
    <p>Dimas games é uma loja online referência no mercado de games!</p>


    <p>
        Para obeter descontos, vouchers e estar por dentro de tudo que sobre o mundo de games, realize o seu fiap na aba 
            funcionario
                e ganhe 15% de desconto para sua primeira compra!.
    </p>
</div>