@{
    ViewBag.Title = "Home Page";
}

 
<div class="jumbotron">
    <h1>Cadastro de Funcionários</h1>
    <p class="lead">Para realizar um cadastro clique em <b>Cadastrar</b>.</p>
    <p><a ui-sref="state-funcionario-add"class="btn btn-primary btn-lg">Cadastrar</a></p>
</div>
